# Server Configuration
PORT=3000
NODE_ENV=development

# Logging Configuration
LOG_LEVEL=debug
LOG_TO_FILE=true

# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=

# OpenTelemetry Collector Endpoint
OTEL_COLLECTOR_URL=


# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
DB_NAME=sage
