# Production cronjob configuration

cronjobs:
  - name: jira-polling
    schedule: '* * * * *' # Run every minute
    command: ['yarn', 'poll-jira:prod']
    resources:
      requests:
        cpu: 500m
        memory: 1Gi
      limits:
        cpu: 1
        memory: 2Gi
    env:
      BRAINTRUST_PARENT: project_name:sage-prod
      BRAINTRUST_PROJECT_NAME: sage-prod
      NODE_ENV: production
      SENTRY_ENVIRONMENT: production
