# Staging cronjob configuration

cronjobs:
  - name: jira-polling
    schedule: '* * * * *' # Run every minute
    command: ['yarn', 'poll-jira:staging']
    resources:
      requests:
        cpu: 500m
        memory: 1Gi
      limits:
        cpu: 1
        memory: 2Gi
    env:
      BRAINTRUST_PARENT: project_name:sage-staging
      BRAINTRUST_PROJECT_NAME: sage-staging
      NODE_ENV: staging
      SENTRY_ENVIRONMENT: staging
